/spin_tests/data
/spin_tests/results
/univariate_analysis/univariate_analysis_results/
/univariate_analysis/individual network scripts/*
!/univariate_analysis/individual network scripts/*.py
*.csv
*.png
/genetics/gams_gii_files/
*.xls
/genetics/top20_enrichment_tables/
*.gii 
/hex_plots/plots/
/high_res_figs/
/multivariate_analysis/svm_072324_run/
/genetics/old_files/
/old_results/
/figure_s8_barplots/*
!/figure_s8_barplots/*.py
!/figure_s8_barplots/*.R
/atlas_visualization/*
!/atlas_visualization/*.py
commands_run.txt
*.ipynb
*.npy
/Users/ashfrana/Desktop/code/abcd_sex_pfn_replication/multivariate_analysis/SVM accuracy histogram/permutation_1000_times_081524/
/Users/ashfrana/Desktop/code/abcd_sex_pfn_replication/discovery and replication sample setup scripts/data
*.zip
/genetics/genetics/
/genetics/genetics_files/
/multivariate_analysis/res_100_times_roc_072324/
finalized_figs 2/
finalized_figs/
**/.DS_Store
high_res_publishable_figs/
/multivariate_analysis/res_100_times_roc_090624
/multivariate_analysis/res_100_times_roc_092624
/multivariate_analysis/svm_090624_run
/multivariate_analysis/svm_092624_run
/univariate_analysis/pubertal_analyses/abs_sum_maps/cifti_files
/univariate_analysis/pubertal_analyses/abs_sum_maps/matrices
/univariate_analysis/pubertal_analyses/abs_sum_maps/oSex_plots
/univariate_analysis/pubertal_analyses/abs_sum_maps/oSex_plots_rescaled
/univariate_analysis/pubertal_analyses/abs_sum_maps/matrices_original
/univariate_analysis/pubertal_analyses/abs_sum_maps/cifti_files_original
/univariate_analysis/pubertal_analyses/abs_sum_maps/plots
/univariate_analysis/pubertal_analyses/barplots/barplots
/univariate_analysis/pubertal_analyses/barplots/matrices
/univariate_analysis/pubertal_analyses/barplots/matrices_original
/univariate_analysis/pubertal_analyses/individual_network_maps/discovery
/univariate_analysis/pubertal_analyses/individual_network_maps/plots
/univariate_analysis/pubertal_analyses/individual_network_maps/replication
/univariate_analysis/pubertal_analyses/old_incorrect
/univariate_analysis/pubertal_analyses/puberty_analyses_2
/univariate_analysis/pubertal_analyses/puberty_analyses_2_original
/univariate_analysis/pubertal_analyses/puberty_data_local
/univariate_analysis/pubertal_analyses/puberty_scripts/check_pds_measures.R
/multivariate_analysis/SVM scripts/shell (job) wrappers/check_svm.sh
multivariate_analysis/SVM scripts/python scripts/check_svm.py
multivariate_analysis/permutation_1000_times_092624
multivariate_analysis/permutation_1000_times_112124_check
/multivariate_analysis/network_specific_models_112124
/multivariate_analysis/res_100_times_roc_check
/multivariate_analysis/svm_check_run/
/univariate_analysis/pubertal_analyses/test.R
~$puberty_analyses.pptx
~$puberty_analysis.pptx
puberty_dataframe_shapes.txt
dp5_checkin_slide.pptx
demographics_table/ABCD_pfns_demographic_table.csv
demographics_table/ABCD_pfns_demographic_table.xls
demographics_table/data
!demographics_table/demographics.ipynb
puberty_analyses.pptx
puberty_analysis.pptx
Rplots.pdf
/univariate_analysis/pubertal_analyses/abs_sum_maps/scaled_plots
/puberty_data
/univariate_analysis/pubertal_analyses/submit_scripts_pds_p_category_only.py
/univariate_analysis/pubertal_analyses/submit_scripts_oSex_pds_p_category_only.py
demographics_table/ABCD_pfns_demographic_table_fixed.xlsx
svm_changes_blurb.pdf
demographics_table/~$ABCD_pfns_demographic_table_fixed.xlsx
univariate_analysis/pubertal_analyses/abs_sum_maps/check_matrices
univariate_analysis/pubertal_analyses/abs_sum_maps/check_write_effect_map.py
univariate_analysis/pubertal_analyses/abs_sum_maps/check_cifti
univariate_analysis/pubertal_analyses/abs_sum_maps/pds_redo
/univariate_analysis/pubertal_analyses/significant_associations